service: nlpf

frameworkVersion: '2'

configValidationMode: error

provider:
  name: aws
  runtime: ruby2.7
  lambdaHashingVersion: 20201221
  timeout: 5
  region: ${file(env.yml):AMAZON_REGION}
  environment:
    AWS_ACCESS_KEY_ID: ${file(env.yml):AWS_ACCESS_KEY_ID}
    AWS_SECRET_ACCESS_KEY: ${file(env.yml):AWS_SECRET_ACCESS_KEY}
    AMAZON_REGION: ${file(env.yml):AMAZON_REGION}

functions:
  hello:
    handler: lambdas/hello.hello
    events:
      - http:
          path: hello
          method: post

  retrieve_id:
    handler: lambdas/retrieve_id.retrieve_id
    events:
      - http:
          path: id/{id}
          method: get
          request:
            parameters:
              paths:
                id: true
  mutation_create:
    role: dynampdbIAMRole
    handler: lambdas/mutation_create.mutation_create
    events:
      - http:
          path: mutation
          method: post

resources:
  Resources:
    dynampdbIAMRole:
      Type: AWS::IAM::Role
      Properties:
        Path: /nlpf/
        RoleName: dynamodb_IAM_role
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: myPolicyName
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - dynamodb:ListTables
                    - dynamodb:Scan
                  Resource: "*"
